body {
  margin: 0;
  background: #0e0e0e;
  color: white;
  font-family: Arial, sans-serif;
}

#scroll-container {
  height: 100vh;          /* viewport height */
  overflow-y: auto;       /* ENABLE SCROLL */
  overflow-x: hidden;
}

canvas {
  display: block;
}
