* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* SCROLL FIX */
#scroll-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

canvas {
  display: block;
}
